Flask==3.0.3
Flask-Cors==4.0.0
vaderSentiment==3.3.2
requests==2.32.2
trafilatura
readability-lxml==0.8.1
beautifulsoup4==4.12.3
lxml
google-generativeai
python-dotenv
reportlab==4.0.7
ollama
sentence-transformers==2.2.2
numpy
